@font-face {
    font-family: 'Futura-Medium';
    src: url('futura_font_kit/futuramedium.eot');
    src: url('futura_font_kit/futuramedium.eot?#iefix') format('embedded-opentype'),
         url('futura_font_kit/futuramedium.woff') format('woff'),
         url('futura_font_kit/futuramedium.ttf') format('truetype'),
         url('futura_font_kit/futuramedium.svg#futuramedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Futura-MediumItalic';
    src: url('futura_font_kit/futuramediumitalic.eot');
    src: url('futura_font_kit/futuramediumitalic.eot?#iefix') format('embedded-opentype'),
         url('futura_font_kit/futuramediumitalic.woff') format('woff'),
         url('futura_font_kit/futuramediumitalic.ttf') format('truetype'),
         url('futura_font_kit/futuramediumitalic.svg#futuramedium_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Futura-CondensedMedium';
    src: url('futura_font_kit/futuracondensedmedium.eot');
    src: url('futura_font_kit/futuracondensedmedium.eot?#iefix') format('embedded-opentype'),
         url('futura_font_kit/futuracondensedmedium.woff') format('woff'),
         url('futura_font_kit/futuracondensedmedium.ttf') format('truetype'),
         url('futura_font_kit/futuracondensedmedium.svg#futuracondensed_medium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Futura-CondensedExtraBold';
    src: url('futura_font_kit/futuracondensedextrabold.eot');
    src: url('futura_font_kit/futuracondensedextrabold.eot?#iefix') format('embedded-opentype'),
         url('futura_font_kit/futuracondensedextrabold.woff') format('woff'),
         url('futura_font_kit/futuracondensedextrabold.ttf') format('truetype'),
         url('futura_font_kit/futuracondensedextrabold.svg#futuracondensed_extrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}

body, html
{
	height: 90%;
	background-color: #cecece;
	font-family: Futura-Medium, Helvetica, Arial, sans-serif;
	color: #ffffff;
}

h1
{
	font-family: Futura-CondensedExtraBold, Helvetica, Arial, sans-serif;
	font-size: 4em;
}

p
{
	font-size: 1em;
}

/*
 * Hidden selection radios
 */

.input_hidden
{
    position: absolute;
    left: -9999px;
}

.selection_wrapper label {
    display: inline-block;
    cursor: pointer;
}

.service_selector img, .service_selected img
{
	height: 120px;
}

#result_div
{
	margin: 12px auto;
	padding: 24px;
	/*margin-top: 12px;*/

	width: 600px;

	background-color: #cecece;
	border-radius: 12px;
}

.service_selector, .bracket_selector, .service_selected, .bracket_selected
{
	float: left;
	display: inline;
	
	border: 1px solid #c6c6c6;
	padding: 6px;
	
	width: 175px;
	height: 150px;
	
	text-align: center;
}

.service_selected, .bracket_selected
{
	/*border: 0;*/
    background-color: #cecece;
    /*margin: -6px;*/
}

/*
 * ERROR LABEL STYLING
 */

.error
{
	color: red;
	margin: -6px auto;
	text-align: center;
}

/* 
 * SELECTOR BRACKET LABEL STYLES
 */

.selector_label
{
	width: 175px;
	color: #000000;
}

#dartDiv, #studentDiv
{
	border-left: none;
	border-right: none;
}

#luas_label
{
	color: #61438e;
}

#dart_label
{
	color: #78c13c;	
}

#rail_label
{
	color: #33a9c6;
}

/*
 * Form styling
 */

.form_wrapper
{
	width: 600px;
	margin: 24px auto;
}

 .capture_wrapper, .selection_wrapper
{
	margin: 24px auto;
	text-align: center;
}

.selection_wrapper
{
	width: 567px;
	display: block;
	height: 165px;
}

input
{
	width: 541px;
	height: 48px;
	border: 1px solid #c6c6c6;
	background-color: #cecece;
	font-family: Futura-Medium, Helvetica, Arial, sans-serif;
	font-size: 14pt;
	padding: 0 12px;
}

.submit
{
	background-color: #60438e;
	font-family: Futura-CondensedExtraBold, Helvetica, Arial, sans-serif;
	font-size: 24pt;
	color: #ffffff;
	width: 567px;
}

.header
{
	width: 600px;
	margin: 12px auto;
	text-align: center;
}

.header_wrapper
{
	background-color: #60438e;

	padding: 12px;
	margin: -12px;

	min-height: 140px;
	height: 20%;
	max-height: 200px;
}

.header > p, h1
{
	margin: 0;
}

.dynamic_body
{
	background-color: #e9e9e9;
	/*height: 500px;*/
	/*width: 100%;*/
	padding: 12px;
	margin: 0 -12px;
	color: #000000;
}

.result_top_wrapper, .result_fare_val_wrapper, .result_points_wrapper, .result_journey_selector_wrapper
{
	width: 500px;
	margin: 24px auto;
	text-align: center;
}

.journey_selector, .journey_selected
{
	display: inline-block;
	border: 1px solid #e9e9e9;
	
	width: 200px;
	margin: 0 -3px;

	font-size: 24pt;
	text-transform: uppercase;
	text-align: center;
	line-height: 50px;
}

.journey_selected
{
	background-color: #fff;
	border: 0;
	/*margin-left: 0.5px;*/
}

.journey_selector_label
{
	height: 50px;
	width: 200px;
	display: block;
}

.fareTitle, .fareAmount
{
	text-align: left;
	display: inline-block;
	width: 240px;
	margin: 0 auto;
}

.fareAmount
{
	width: 120px;
}

.fare_block
{
	width: 360px;
	margin: 12px auto;
}

.result_fare_val_wrapper
{
	font-size: 2em;
}

.point_pre, .point_post
{
	font-size: 1.25em;
	display: inline-block;
	text-align: left;
	width: 250px;
}

.point_wrapper
{
	width: 350px;
	margin: 6px auto;
}

.point_pre
{
	font-family: Futura-CondensedExtraBold, Helvetica, Arial, sans-serif;
	width: 60px;
}

.footer
{
	width: 100%;
	margin: 12px auto;
}

.footer_wrapper
{
	margin: 0 auto;
	height: 200px;
	width: 1024px;
	color: #000000;
}

.homeLink
{
	text-decoration: none;
	color: #fff;
}

.about
{
	margin: 0 24px;
	display: inline-block;

	font-size: 0.75em;
	font-family: Helvetica;
	text-shadow: 2px 1px #e9e9e9;
	width: 200px;
	height: 200px;
	float: left;
}

.about > p, .about > h2, .about > ul
{
	text-align: justify;
}

.about > h2
{
	font-family: Futura-CondensedMedium, Helvetica, Arial, sans-serif;
	margin: 0;
	text-align: center;
}

.about > p
{
	font-family: Helvetica, Arial, sans-serif;
}

.about > ul
{
	margin-left: -18px;
}

.transparent
{
	opacity:0.4;
	filter:alpha(opacity=40); /* IE Support */
	cursor: default;
}

.capture_wrapper > input::-ms-clear {
    /*display: none;*/
    width: 0;
    height: 0;
}

.resultsList
{
	list-style-type: none;
	margin: 0 auto 1em auto;
	padding: 0;
	width: 567px;
}

a.link
{
	display: block;
	width: 566px;
	text-decoration: none;
	padding: 10px 0;
	border: 1px solid #c6c6c6;
	border-top: 0;
	background-color: #f0f0f0;
	color: #000000;
	font-family: Helvetica;
	font-style: normal;
	color: #000000;
}

.resultItem > a:hover
{
	background-color: #61438e;
	color: #ffffff;
}

.resultItem { background-color: #f0f0f0; }

.match
{
	font-weight: bold;
}

.socialImage
{
	display: inline-block;
	width: 32px;
	height: 32px;
	background-size: 32px 32px;
	background-repeat: no-repeat;

}

.socialLink
{
	display: block;
	width: 120px;
	height: 32px;
	margin: 12px auto;
	/*background-color: #f0f0f0;*/
	vertical-align: middle;
	text-align: center;
}

.socialText
{
	/*list-style-type: none;*/
	/*display: inline-block;*/
	/*height: 12px;*/
	/*vertical-align: middle;*/
	/*text-align: center;*/
	margin: 0 12px;
	margin-top: -20px;
	/*padding: 12px 0;*/
}