# HTAccess file. Used to redirect API requests.
Options +SymLinksIfOwnerMatch

RewriteEngine On

# if the request is a directory that exists, don't do anything below
RewriteCond %{REQUEST_FILENAME} !-d
# if the request is a file with size > 0 that exists, don't do anything below
RewriteCond %{REQUEST_FILENAME} !-s
# as above, if the file exists, do nothing.
#RewriteCond %{REQUEST_FILENAME} !-f
# and finally, if a symbolic link exists, do nothing.
#RewriteCond %{REQUEST_FILENAME} !-l

RewriteRule ^(.*)$ api.php?rquest=$1 [NC,L]

RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^(.*)$ api.php [NC,L]

RewriteCond %{REQUEST_FILENAME} -s
RewriteRule ^(.*)$ api.php [NC,L] 

# QSA = Query String Append (append any query strings, e.g. id=1, onto the url, L means that if the rule matches, don't process any more Rewrite Rules below, NC means ignore the case of the request.